bandit==1.8.6
bcrypt==4.3.0
black==25.1.0
boto3==1.40.6
botocore==1.40.6
certifi==2025.7.14
cffi==1.17.1
cfgv==3.4.0
charset-normalizer==3.4.2
click==8.2.1
coverage==7.10.1
cryptography==45.0.6
distlib==0.4.0
docutils==0.22
filelock==3.18.0
flake8==7.3.0
id==1.5.0
identify==2.6.12
idna==3.10
iniconfig==2.1.0
jaraco.classes==3.4.0
jaraco.context==6.0.1
jaraco.functools==4.2.1
jmespath==1.0.1
keyring==25.6.0
-e git+ssh://git@github.com/sskyh0208/lambapi.git@0a1533c5bc8f6e2ceb95d5ffd04b35c35d99d21f#egg=lambapi
markdown-it-py==3.0.0
mccabe==0.7.0
mdurl==0.1.2
more-itertools==10.7.0
mypy==1.17.1
mypy_extensions==1.1.0
nh3==0.3.0
nodeenv==1.9.1
packaging==25.0
pathspec==0.12.1
pbr==6.1.1
platformdirs==4.3.8
pluggy==1.6.0
pre_commit==4.2.0
pycodestyle==2.14.0
pycparser==2.22
pyflakes==3.4.0
Pygments==2.19.2
PyJWT==2.10.1
pytest==8.4.1
pytest-cov==6.2.1
python-dateutil==2.9.0.post0
PyYAML==6.0.2
readme_renderer==44.0
requests==2.32.4
requests-toolbelt==1.0.0
rfc3986==2.0.0
rich==14.1.0
s3transfer==0.13.1
setuptools==80.9.0
six==1.17.0
stevedore==5.4.1
twine==6.1.0
typing_extensions==4.14.1
urllib3==2.5.0
virtualenv==20.33.0
watchdog==6.0.0
wheel==0.45.1
